<div class="c-episodes-gallery row d-flex justify-content-center">
    <h2>Episodes List
        <span *ngIf="this.info.next != null || this.info.next === 1">{{getPageNumber()}}</span>
    </h2>
    <div class="c-episodes-gallery-card col-md-4 col-lg-3" *ngFor='let episode of episodesList' [routerLink]="['/episodes', episode.id]" [ngStyle]="{'border': '1px solid #02AEC9','margin':'1rem 2rem','padding':'1em'}">
        <h3>{{episode.name | uppercase }}</h3>
        <h5>Emitido: <span>{{episode.air_date}}</span></h5>
        <h5>Nº ( {{episode.episode}} )</h5>
        <button class="btn-card" data-back="In your finger" data-front="More Data"></button>
    </div>
</div>

