footer {
    background-color: #000;
    padding: 1rem;
    display: flex;
    justify-content: center;
    & a {
        color: #02AEC9;
        margin-right: 3rem;
        margin-left: 1rem;
        display: grid;
        grid-template-columns: 3fr 1fr;
        text-align: center;
        align-items: center;
        &:hover {
            color: #FB9039;
            text-shadow: 0px 1px 1px #9e4300;
        }
    }
    & #icon-about:after {
        content: '';
        background-image:  url('../../../assets/images/icons/rick-folder-icon-5.png');
        min-height: 49px;
        background-position: center top;
        background-size: 45px 45px;
        background-repeat: no-repeat;
        display: block;
        margin-right: -50px;
    }
    & #icon-me:after {
        content: '';
        background-image:  url('../../../assets/images/icons/alterego-about.png');
        min-height: 49px;
        background-position: center top;
        background-size: 45px 45px;
        background-repeat: no-repeat;
        display: flex;
        margin-right: -30px;
        margin-left: 1rem;
    }
}
.about {
    background: #000;
}
.about a {
    color: #4CAA09;
}