.c-location-detail {
    background: url('../../../../assets/images/rick-morty-bg.jpeg');
    padding: 1rem;
    min-height: 70vh;
    & h2 {
        color: #02AEC9;
        margin: 0;
        padding: 1rem 0 2rem;
        text-decoration: underline;
        text-decoration-color: #FB9039;
    }
    & div {
        border-radius: 3px;
        background-color: rgba(#02AEC9, 0.9);
        padding: 1rem;
        & img {
            width: 75%;
            display: block;
            margin: 1rem auto 1rem auto;
            border: 1px solid #02AEC9;
            border-radius: 6%;
        }
        & h3 {
            padding: 1rem 0;
            color: #000;
            text-shadow: 0px 1px 1px #9E4300;
            text-decoration: underline;
            text-decoration-color: #FB9039;
        }
        & button {
            padding: 0.5rem 1rem;
            background: #FB9039;
            color: #000;
            text-shadow: 0px 1px 0px #9E4300;
            border: none;
            border-radius: 3px;
            font-family: 'future';
            display: block;
            margin-left: auto;
            margin-right: 0;
            transition: 0.5s;
            &:hover {
                background: #000;
                color: #FB9039;
                text-shadow: 0px 1px 0px #9E4300;
                transition: 0.5s;
            }
        }
        & h4 {
            padding: 0 15%;
            color: #FB9039;
            text-shadow: 1px 0px 1px #000;
            padding: 1.5rem 0;
            font-size: 1.25rem;
            & span {
                color: #000;
                margin-left: 5px;
                text-shadow: 0px 1px 0px #9E4300;
            }
        }
    }
}
.c-location-residents-scroll {
    max-height: 50vh;
    overflow: scroll;
    display: flex;
}

.c-location-residents-scroll {
    /* border: 1px solid #FB9039; */
    /* background-color: black !important; */

    & * {
        padding: 0;
        min-width: 30vh;
        margin-right: 2rem;
        background-color: black !important;
    }
    & div {
        /* border: 1px solid red; */
        & img {
            border: none;
        }
    }
    & h5 {
        text-align: center;
        color: #FB9039;
        text-shadow: 1px 0px 1px #000;
        font-size: 1.25rem;
    }
}