<div class="c-location-detail">
    <h2>Selected Location</h2>
    <div>
        <button [routerLink]="['/locations']" [ngStyle]="{'text-align': 'right'}">Go Back</button>
        <h3>{{locationDetail.name | uppercase }}</h3>
        <p>Type : <span>{{locationDetail.type}}</span></p>
        <p>Dimension : <span>{{locationDetail.dimension}}</span></p>
        <!-- <p>{{locationDetail.url}}</p> -->
        <!-- <ul *ngFor='let residents of locationDetail.residents'>
            <li>{{residents}}</li>
        </ul>
    </div> -->
</div>

