.hero-image {
    display: flex;
    justify-content: center;
    background-color: black;
    border: 10px solid #02AEC9;
    border-bottom: none;
    & img {
        width: 60%;
        padding: 0.25rem 0;
    }
}
nav {
    padding: 1rem;
    background: #02AEC9;
    display: flex;
    justify-content: space-evenly;
    & a {
        color: black;
        text-shadow: 1px 1px 1px rgb(190, 189, 189);
    }
    & #icon-home:before {
        content: '';
        background-image:  url('../../../assets/images/icons/ricky-icon-footer.png');
        min-height: 49px;
        background-position: center top;
        background-size: 45px 45px;
        background-repeat: no-repeat;
        display: block;
    }
    & #icon-characters:before {
        content: '';
        background-image:  url('../../../assets/images/icons/rick-folder-icon-1.png');
        min-height: 50px;
        background-position: center top;
        background-size: 40px 45px;
        background-repeat: no-repeat;
        display: block;
    }
    & #icon-locations:before {
        content: '';
        background-image:  url('../../../assets/images/icons/rick-folder-icon-2.png');
        min-height: 50px;
        background-position: center top;
        background-size: 40px 45px;
        background-repeat: no-repeat;
        display: block;
    }
    & #icon-episodes:before {
        content: '';
        background-image:  url('../../../assets/images/icons/rick-folder-icon-4.png');
        min-height: 50px;
        background-position: center top;
        background-size: 40px 45px;
        background-repeat: no-repeat;
        display: block;
    }
}

.about {
    & .hero-image {
        border: 10px solid #4CAA09;
        border-bottom: none;
    }
    & img {
        filter: invert(52%) sepia(52%) saturate(2823%) hue-rotate(60deg) brightness(97%) contrast(93%);
    }
    & nav {
        background: #4CAA09;
    }

}