/* You can add global styles to this file, and also import other style files */
@import './app/styles/mixins.scss';

@import "~bootstrap/scss/bootstrap-grid";

@font-face {
    font-family: 'rick';
    src: url('./assets/fonts/get_schwifty.ttf');
    font-family: 'future';
    src: url('./assets/fonts/Prototype.ttf');
}
body {
    margin: 0;
    font-family: 'future', sans-serif;
    box-sizing: border-box;
}
ul {
    padding: 0;
}
a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 0 0.25rem;
}
h1,h2,h3,h4,h5,h6 {
    text-align: center;
    margin:0.5rem;
}
img {
    width: 100%;
}
button {
    cursor: pointer;
}

@include phone {
    .c-characters-gallery-card, .c-locations-gallery-card, .c-episodes-gallery-card {
        max-width: 75%;
    }
    .row {
        margin: 0;
    }
    .c-characters-gallery, .c-locations-gallery, .c-episodes-gallery {
        background-attachment: fixed !important;
        min-height: 60vh !important;
    }
    .c-character-detail, .c-location-detail, .c-episode-detail {
        min-height: 60vh !important;
    }
}


@include tablet {
    .hero-image {
        max-height: 20vh;
        padding: 0.5rem;
    }
    .c-characters-gallery-card, .c-locations-gallery-card, .c-episodes-gallery-card {
        margin: 1rem 1rem !important;
    }
    .c-about-container {
        background-position-y: center !important;
        padding: 0 12.5%;
    }
}
@include desktop {
    .hero-image {
        & img {
            width: 20% !important;
            max-height: 13vh;
        }
    }
    nav {
        justify-content: space-evenly !important;
        padding: 0.5rem 10rem !important;
    }
    .home-container {
        min-height: 45vh !important;
        padding: 1rem !important;
    }
    .home-image-container {
        & img {
            height: 40vh !important;
        }
    }
    .c-characters-gallery, .c-episodes-gallery, .c-locations-gallery {
        min-height: 60vh;
    }
    .c-characters-gallery h2, .c-locations-gallery h2, .c-episodes-gallery h2, 
    .c-character-detail h2, .c-location-detail h2, .c-episode-detail h2  {
        font-size: 2.5rem;
    }
    .c-character-detail  {
        & img {
        width: 60% !important;
        }
        & p {
            padding-left: 20% !important ;
        }
    }
    .c-episode-detail {
        min-height: 60vh !important;
    }
    .c-episodes-gallery-card {
        max-height: 25vh;
    }
    .c-about-container {
        padding: 0 25%;
    }
    .bee-spinner {
        margin-top: 5% !important;
        background-size: 50% !important;
    }
}
