/* You can add global styles to this file, and also import other style files */
@import './app/styles/mixins.scss';

@import "~bootstrap/scss/bootstrap-grid";
/* @import "../../node_modules/bootstrap/scss/bootstrap-grid.scss"; */

@font-face {
    font-family: 'rick';
    src: url('./assets/fonts/get_schwifty.ttf');
    font-family: 'future';
    src: url('./assets/fonts/Prototype.ttf');
}
body {
    margin: 0;
    font-family: 'future', sans-serif;
    box-sizing: border-box;
    min-height: 100vh !important;
    background: black;
}
ul {
    padding: 0;
}
a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 0 0.25rem;
}
h1,h2,h3,h4,h5,h6 {
    text-align: center;
    margin:0.5rem;
}
img {
    width: 100%;
}
button {
    cursor: pointer;
}
.button-pag {
    transition: .25s !important;
    &:hover {
        background-color: #FB9039 !important;
        transition: .25s !important;
        box-shadow: 1px 1px 0px #F0A161,
        1px 1px 0px #F0A161,
        1px 1px 0px #F0A161,
        2px 2px 0px #F0A161,
        2px 2px 0px #F0A161,
    }
}

@include phone {
    .c-characters-gallery-card, .c-locations-gallery-card, .c-episodes-gallery-card {
        max-width: 75%;
    }
    .row {
        margin: 0;
    }
    .c-characters-gallery, .c-locations-gallery, .c-episodes-gallery {
        background-attachment: fixed !important;
        min-height: 60vh !important;
    }
    .c-character-detail, .c-location-detail, .c-episode-detail {
        min-height: 60vh !important;
    }
}


@include tablet {
    .hero-image {
        max-height: 20vh;
        padding: 0.5rem;
    }
    .c-characters-gallery-card, .c-locations-gallery-card, .c-episodes-gallery-card {
        margin: 1rem 1rem !important;
    }
    .c-episodes-gallery-card h3 {
        min-height: 8vw;
  }
    .c-about-container {
        background-position-y: center !important;
        padding: 0 12.5%;
    }
    .c-about-container h3 {
        margin-top: 1.5rem !important;
    }
}
@include desktop {
    .hero-image {
        & img {
            width: 20% !important;
            max-height: 13vh !important;
        }
    }
    nav {
        justify-content: space-evenly !important;
        padding: 0.5rem 10rem !important;
    }
    .home-container {
        min-height: 45vh !important;
        padding: 1rem !important;
    }
    .home-image-container {
        & img {
            height: 40vh !important;
        }
    }
    .c-characters-gallery, .c-episodes-gallery, .c-locations-gallery {
        min-height: 60vh;
    }
    .c-characters-gallery h2, .c-locations-gallery h2, .c-episodes-gallery h2,
    .c-character-detail h2, .c-location-detail h2, .c-episode-detail h2  {
        font-size: 2.5rem;
    }
    .c-character-detail  {
        & img {
        width: 60% !important;
        }
        & p {
            padding-left: 20% !important ;
        }
    }
    .c-locations-gallery-card h5 {
        font-size: 1.1rem !important;
    }
    .c-episodes-gallery-card {
        & h3 {
            min-height: 6vh !important;
        }
        & h5 {
            min-height: 6vh !important;
            font-size: 1.1rem;
        }
        & h5:first-of-type {
            margin-top: 2rem !important;
        }
    }
    .c-episode-detail {
        min-height: 60vh !important;
    }
    .c-about-container {
        padding: 0 25% !important;
        min-height: 65vh !important;
    }

    .c-about-container h3 {
        margin-top: 3.5rem !important;
    }

    footer {
        padding-right: 6rem !important;
        & a {
            margin-right: 5rem !important;
            margin-left: 3rem !important;
        }
    }
    .bee-spinner {
        margin-top: 5% !important;
        background-size: 50% !important;
    }
}