<div class="c-character-detail row justify-content-center">
    <h2>Selected Character</h2>
    <div class="col-10 col-md-8 col-lg-5" *ngIf="showContent">
        <button [routerLink]="['/characters']" [ngStyle]="{'text-align': 'right'}">Go Back</button>
        <h3>{{characterDetail.name | uppercase }}</h3>
        <img src="{{characterDetail.image}}" alt="{{characterDetail.name}}">
        <p>I am From : <span>{{characterDetail.origin.name | uppercase}}</span></p>
        <p>Specie : <span>{{characterDetail.species | uppercase}}</span></p>
        <p>I am : <span>{{characterDetail.status | uppercase}}</span></p>
        <p>Gender : <span>{{characterDetail.gender | uppercase}}</span></p>
    </div>
</div>

